.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.card {
    position: relative; /* for positioning the close button */
    text-align: center;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* Close button styling */
.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
}

.closeButton:hover {
    color: #000;
}
